* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5dc;
  color: #333;
}

ul {
  list-style: none;
}

.button-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  transition: background-color 0.3s;
}

.button-link:hover {
  background-color: #45a049;
}

.panel {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  padding: 30px 0;
}

.panel__excursions {
  display: flex;
}

.form {
  display: flex;
  width: 300px;
  flex-direction: column;
}

.excursions {
  display: flex;
  flex-wrap: wrap;
}

.excursions__item {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 20px;
  width: calc(50% - 20px);
  display: flex;
  flex-direction: column;
}

.excursions__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.excursions__description,
.form__field,
input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  resize: vertical;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.excursions__description:focus,
.form__field:focus,
input:focus {
  outline: none;
  border-color: #4caf50;
  box-shadow: 0 0 5px #4caf50;
}

.excursions__description::placeholder {
  color: #888;
}

.panel__form {
  background-color: #f4f4f4;
  padding: 20px;
  width: 30%;
}

.uploader,
.order {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.form__field {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 5px;
}

.form__field--longtext {
  height: 100px;
}

.excursions__form {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 20px;
}

.excursions__field {
  margin-bottom: 10px;
}

.excursions__field-name {
  font-weight: bold;
}

.excursions__field input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.excursions__field--submit {
  text-align: center;
}

.excursions__field-input--update,
.excursions__field-input--remove,
.order__field-input {
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 20px;
  margin: 10px auto;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  transition: background-color 0.3s;
}

.excursions__field-input--remove {
  background-color: #ff0000;
}

.form {
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  max-width: 400px;
  margin: 0 auto;
}

.form__row {
  margin-bottom: 20px;
}

.form__label {
  font-weight: bold;
  display: block;
}
